@use '~/assets/scss/variables.scss';

.contact-card {
    background-color: rgba(variables.$paragon-gray, 0.75);
    border: 1px solid rgba(variables.$paragon-blue, 0.85);

    .contact-details {
        & div > span {
            @include variables.size-height(2.35rem, 2.25rem);
            text-decoration: underline;
        }

        span {
            @include variables.size-height(1.35rem, 2.25rem);
        }
    }
}